body {font-family: Verdana, sans-serif;}

#calendar {
    width: 270px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    
}

#calendar ul {
  list-style-type: none;
}

/* Month header */
.month {
  /* padding: 7px 0px; */
  background: #2c3e50;
  text-align: center;
  margin-bottom: 10px;
  height: 35px;
  line-height: 35px;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 18px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  cursor: pointer;
  display: block;
  width: 35px;
}

/* Next button */
.month .next {
  float: right;
  cursor: pointer;
  display: block;
  width: 35px;
}

.month .next:hover, .month .prev:hover {
  background-color: #34495e;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 7px 0;
  background-color:#7f8c8d;
}

.weekdays li {
  display: inline-block;
  width: calc(270px / 7);
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 0;
  background: #bdc3c7;
  margin: 0;
  cursor: default;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: calc(270px / 7);
  text-align: center;
  line-height: 32px;
}

/* Highlight the "current" day */
.days li .active {
  background: #2c3e50;
  color: #bdc3c7 !important;
  display: block;
}

/* Highlight event */
.days li .event {
  background-color: #9b59b6;
  box-shadow: 0 4px #8e44ad inset;
  display: block;
}

.days li .active.event {
  background-color: #2c3e50;
  box-shadow: 0 4px #9b59b6 inset;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .day-events {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;

  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .day-events {
  visibility: visible;
}

.tooltip .day-events::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip .day-events a {
  color: #bdc3c7;
  text-decoration: none;
}

/*
 * @todo Najs to have, označení víkendů 
 */
.weekend {
  background-color: rgba(0,0,0,0.2);
}