:root {
  /* Colors: */
  --grey: #808080;
  --white: #FFFFFF;
  --black: #000000;
  --asbestos: #7F8C8D;
  --concrete: #95A5A6;
  --silver: #BDC3C7;
  --aluminium: #D1D6D9;
  --calendar-light-grey: #DCE1E3;
  --clouded-sky: #DCE1E3;
  --clouds-white: #ECF0F1;
  --clouds-white-rgb: 236, 240, 241;
  --navy-dark: #2C3E50;
  --navy-light: #34495e;
  --purple-dark: #6b3483;
  --purple: #8E44AD;
  --purple-light: #9B59B6;
  --blue: #2980B9;
  --blue-light: #3498DB;
  --unnamed-color-d3e5f0: #D3E5F0;
  --warning-light: #E67E22;
  --orange: #F39C12;
  --orange-light: #F1C40F;
  --unnamed-color-fceace: #FCEACE;
  --green-dark: #1E8549;
  --green: #27AE60;
  --green-light: #2ECC71;
  --unnamed-color-d3eede: #D3EEDE;
  --red: #C0392B;
  --red-light: #E64937;
  --unnamed-color-f2d6d3: #F2D6D3;
  --unnamed-color-35495d: #35495D;
}